/* Set font family and background color for entire page */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

/* Style header and navigation */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

/* Style main section */
main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

section {
  width: 70%;
  background-color: #fff;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

aside {
  width: 25%;
  background-color: #f1f1f1;
  padding: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 100px;
  padding: 100px;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  color: #333;
  text-decoration: none;
}

/* Style footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
